{:paths ["src"]

 :deps {
        seesaw/seesaw {:mvn/version "1.5.0"}}

 :aliases {:uberjar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
                     :ns-default hf.depstar
                     :exec-fn    uberjar
                     :exec-args  {:main-class core
                                  :aot        true}}
           :upgrade {:extra-deps {com.github.liquidz/antq {:mvn/version "0.16.3"}}
                     :main-opts  ["-m" "antq.core" "--upgrade"]}}}
